<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inrucciones CRUD</title>
</head>
<body>
    <h1>Instrucciones para acceder al crud generado por el framework django</h1>
    <ol>
        <li>
            Hay que dirigirse a la ruta "/admin"
        </li>
        <li>
            En el formulario de usuario y contraseña se ingresara el usuario: admin y contraseña:admin
        </li>
        <li>
            Para acceder al crud de los modelos hay un apartado llamado CRUD donde se podra hacer todas las accion CRUD de los modelos de la base de datos generado por django
        </li>
        <br>
        <p>
        Toda la interfaz grafica fue generada por el framework django, pues una de las fortalezas de django es 
        que genera automaticamente una interfaz de admin a partir de los modelos que se creen en su ORM e 
        incluso modulos por default que django crea, como el inicio de sesion de admin que posee. 
        Estas caracteristicas hacen fácil y rapido la codificación y desarrollo de una aplicación web.
        </p>
    </ol>
</body>
</html>